---
layout: page
title: Hurt
permalink: /hurt/
---
<div class="col d-none d-lg-block">
  <img class="img-fluid" src="/img/IMG_1659-copy.jpg" alt="">
</div>
<div class="col">
  <h2>{{ page.title }}</h2>
  <h4>Zamowienia hurtowe - najczęściej zadawane pytania</h4>
  <br>
  <ol class="">
    {% for item in site.faq %}
    <li>
      <b>{{ item.question }}</b>
      <p>{{ item.answer }}</p>
    </li>
    {% endfor %}
    <br>
    <p>
      Mają Państwo więcej pytań? Zapraszamy do <a class="text-link hover-links" href="/kontakt/">kontaktu.</a>
    </p>
  </ol>
</div>
