---
layout: page
title: Kontakt
permalink: /kontakt/
---
<div class="col-6">
  <img class="img-fluid" src="/img/DSC02381.jpg" alt="">
</div>
<div class="col-6">
  <h2>{{ page.title }}</h2>
  <br>
  <address class="">
    <b>Email</b>
    <br>
    <a href="mailto:{{ site.email }}" class="hover-links" target="_top">{{ site.email }}</a>
    <br>
    <!-- <p>{{ site.email }}</p> -->
    <b>Telefon</b>
    <br>
    <a href="tel:{{ site.phone }}" class="hover-links">{{ site.phone }}</a>
    <br>
    <!-- <p>{{ site.phone }}</p> -->
    <b>Atelier</b>
    <p>{{ site.address_1 }}</p>
    <p>{{ site.address_2 }}</p>
  </address>
</div>
