---
layout: default
title: Lookbook
permalink: /lookbook/
---
<main aria-label="Content">
  <section>
    <div class="col mb-5 text-center">
      <h2>{{ page.title }}</h2>
    </div>
    <div class="row container-fluid no-gutters">
      {% for item in site.photos01 %}
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="lookbook-parent">
          <a href="/img/{{ item.file }}" data-lightbox="example-set" data-title="{{ site.lightbox-tip }}">
            <div class="lookbook-child lazy" data-src="/img/{{ item.file }}" role="img" aria-label="{{ item.alt}}">
              <span>
                <i class="fas fa-search"></i>
              </span>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row container-fluid no-gutters justify-content-center">
      <img src="/assets/dresoowka-logo.svg" alt="dresoowka-logo" class="page-logo hover-svg mt-5 mb-5">
    </div>
    <div class="row container-fluid no-gutters">
      {% for item in site.photos02 %}
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="lookbook-parent">
          <a href="/img/{{ item.file }}" data-lightbox="example-set" data-title="{{ site.lightbox-tip }}">
            <div class="lookbook-child lazy" data-src="/img/{{ item.file }}" role="img" aria-label="{{ item.alt}}">
              <span>
                <i class="fas fa-search"></i>
              </span>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
