---
layout: page
title: O nas
permalink: /o-nas/
---
<div class="col d-none d-md-block">
  <img class="img-fluid" src="/img/DSC02389.jpg" alt="">
</div>
<div class="col ">
  <h2>{{ page.title }}</h2>
  <br>
  <p class="">Dresoowka to młoda marka na rynku polskim. Założycielką i właścicielką marki jest Marta Saran. Kolekcje oferowane przez Dresoowkę są odzwierciedleniem jej pomysłów, natomiast inspiracją do tworzenia poszczególnych projektów są jej dzieci, które jednocześnie testują na sobie większość modeli. W ofercie oprócz ubranek dziecięcych znajdują się również modele dla dorosłych, szczególnie pożądane zestawy w wersji dla mamy i córki oraz dla rodzeństwa.
    <br>
    <br>
  Dresoowka współpracuje z butikami w całej Polsce. Jeśli Państwo również chcą zapoznać się z warunkami niniejszej współpracy zapraszamy do <a class="text-link hover-links" href="/kontakt/">kontaktu.</a> Więcej informacji w zakładce <a href="/oferta/" class="text-link hover-links">oferta.</a></p>
</div>
