---
layout: page
title: Oferta
permalink: /oferta/
---
<div class="col d-none d-md-block">
  <img class="img-fluid" src="/img/projektujemy-2.jpg" alt="">
</div>
<div class="col">
  <h2>{{ page.title }}</h2>
  <br>
  <span>
    <b>Hurt:</b>
  </span>
  <p class="">Oferta hurtowa jest na bieżąco aktualizowana i dostępna tylko dla przedsiębiorców. Aktualne oferty dostępne są w aktualnościach grupy na portalu <a href="https://web.facebook.com/groups/2033671186889975/?_rdc=1&_rdr" class="text-link hover-links">Facebook</a>, lub przesyłane bezpośrednio na podany adres e-mail. Szczegółowe informacje dotyczące zakupów hurtowych znajdą Państwo w zakładce <a href="/hurt/" class="text-link hover-links">Hurt.</a></p>
  <br>
  <span>
    <b>Detal:</b>
  </span>
  <p class="">Zakupy detaliczne prowadzimy za pośrednictwem strony na portalu <a href="https://www.facebook.com/dresoowka/" class="text-link hover-links">Facebook.</a></p>
  <br>
  <span>
    <b>Oferta indywidualna dla firm:</b>
  </span>
  <p class="">Przyjmujemy zlecenia na przygotowanie projektów/kolekcji na życzenie klienta. Jeśli mają Państwo pomysł na to jaki asortyment widzieliby Państwo w swoim sklepie jednak oferta dostępna na rynku nie spełnia Państwa oczekiwań to dobrze Państwo trafili... - lubimy wyzwania i chętnie przygotujemy dla Państwa indywidualną ofertę. Możemy przygotować również projekty dla Państwa marki. Zainteresowanych prosimy o <a class="text-link hover-links" href="/kontakt/">kontakt.</a> Dopiero po omówieniu szczegółów przygotujemy wycenę i możliwości realizacji.</p>
</div>
