<footer>
  <div class="row container-fluid no-gutters text-center">
    <div class="col-12 col-md-2">
      <a class="page-logo" href="{{ "/" | relative_url }}">
        <img src="/assets/dresoowka-logo.svg" alt="dresoowka-logo" class="page-logo hover-svg">
      </a>
    </div>
    {% for item in site.nav %}
    <div class="col-12 col-md-2">
      <a class="nav-link hover-links" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
    </div>
    {% endfor %}
  </div>
  <div class="row container-fluid no-gutters text-center mt-3">
    <div class="col-12">
      <small class="d-block">&copy {{ site.copyrights }}</small>
      <small class="d-block">Projekt i wykonanie: <a href="{{ site.authors-external-url }}" class="hover-links">{{ site.authors }}</a></small>
    </div>
  </div>
  <div class="row container-fluid text-center">
    {% for item in site.sponsors %}
    <div class="col-md-4 mt-5">
      <img src="/assets/{{ item.file }}" alt="{{ item.alt }}" class="svg-color">
    </div>
    {% endfor %}
  </div>
</footer>
