<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      <img src="/assets/dresoowka-logo.svg" alt="dresoowka-logo" class="hover-svg">
    </a>
    <a href="#" class="rubber-icon navbar-toggler" onclick="responsiveMenu()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <div id="menu-icon-wrapper" onclick="toggleNav()" class="menu-icon-wrapper" style="visibility: hidden">
        <svg width="1000px" height="1000px">
          <path id="pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
          <path id="pathB" d="M 300 500 L 700 500"></path>
          <path id="pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
        </svg>
        <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
      </div><!-- menu-icon-wrapper -->
      <div id="dummy" class="dummy">
        <div class="dummy__item"></div>
        <div class="dummy__item"></div>
        <div class="dummy__item"></div>
        <div class="dummy__item"></div>
      </div><!-- /dummy -->
    </a>
    {% if page_paths %}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
          <li class="nav-item">
            <a class="nav-link hover-links" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {% endif %}
        {% endfor %}
        {% for item in site.social %}
        <li class="nav-item d-block d-sm-none">
          <a class="nav-link hover-links" href="{{ item.social-url }}">{{ item.social-media }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </nav>
</header>
