{% for item in site.photos01 %}
  {% if forloop.first == true %}
    <div class="hero">
      <div class="hero-img" style="background-image: url(/img/{{ item.file }})" role="img" aria-label="{{ item.alt}}"></div>
    </div>
  {% endif %}
{% endfor %}
