<div class="col-12 text-center mt-5 mb-5">
  <h2>Lookbook</h2>
</div>
<div class="row no-gutters">
  {% for item in site.photos01 limit:9 %}
  <div class="col-md-4 lookbook-parent d-none d-sm-block">
    <a href="/lookbook">
      <div class="lookbook-child" style="background-image: url('/img/{{ item.file }}')" role="img" aria-label="{{ item.alt }}">
        <span class="text-center">
          <i class="fas fa-share"></i><br>
          Zobacz więcej zdjęć
        </span>
      </div>
    </a>
  </div>
  {% endfor %}
  {% for item in site.photos01 limit:10 %}
  <div class="col-6 col-md-4 lookbook-parent d-block d-sm-none">
    <a href="/lookbook">
      <div class="lookbook-child" style="background-image: url('/img/{{ item.file }}')" role="img" aria-label="{{ item.alt }}">
        <span class="text-center">
          <i class="fas fa-share"></i><br>
          Zobacz więcej zdjęć
        </span>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
