<div class="row container-fluid no-gutters">
  <div class="col-12 text-center mt-5 mb-5">
    <h2 class="text-uppercase">Lookbook</h2>
  </div>
    {% for item in site.photos01 limit: 6 %}
      <div class="col-sm-2 lookbook-parent d-none d-sm-block">
        <a href="/lookbook">
          <div class="lookbook-child" style="background-image: url('/img/{{ item.file }}')" role="img" aria-label="{{ item.alt}}">
            <span class="text-center">
              <i class="fas fa-share"></i><br>
              Zobacz więcej zdjęć
            </span>
          </div>
        </a>
      </div>
    {% endfor %}
    {% for item in site.photos01 limit: 4 %}
      <div class="col-sm-2 lookbook-parent d-block d-sm-none">
        <a href="/lookbook">
          <div class="lookbook-child" style="background-image: url('/img/{{ item.file }}')" role="img" aria-label="{{ item.alt}}">
            <span class="text-center">
              <i class="fas fa-share"></i><br>
              Zobacz więcej zdjęć
            </span>
          </div>
        </a>
      </div>
    {% endfor %}
</div>
