body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

  ::-moz-selection {
    color: white;
    background: $brand-color;
  }
  ::selection {
    color: white;
    background: $brand-color;
  }
}

small {
  font-size: $base-font-size/1.35 !important;
}

body, wrapper {
  min-height: 100vh;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: normal;
  font-kerning: normal;
  @media (min-width: $mobile) {
    font-size: $base-font-size;
  }
  @media (min-width: $tablet) {
    font-size: $base-font-size*1.25;
  }
  @media (min-width: $laptop) {
    font-size: $base-font-size*1.35;
  }
  @media (min-width: $desktop) {
    font-size: $base-font-size*1.45;
  }
  @media (min-width: $monitor) {
    font-size: $base-font-size*1.5;
  }
}

main, footer {
  flex: 1 1 auto;
  @media (min-width: $mobile) {
    margin: 0 2%;
  }
  @media (min-width: $tablet) {
    margin: 0 4%;
  }
  @media (min-width: $laptop) {
    margin: 0 8%;
  }
  @media (min-width: $desktop) {
    margin: 0 12%;
  }
  @media (min-width: $monitor) {
    margin: 0 18%;
  }
}

section, footer {
  @media (min-width: $mobile) {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }
  @media (min-width: $tablet) {
    margin-top: $base-spacing*2;
    margin-bottom: $base-spacing*2;
  }
  @media (min-width: $laptop) {
    margin-top: $base-spacing*3;
    margin-bottom: $base-spacing*3;
  }
  @media (min-width: $desktop) {
    margin-top: $base-spacing*4;
    margin-bottom: $base-spacing*4;
  }
  @media (min-width: $monitor) {
    margin-top: $base-spacing*5;
    margin-bottom: $base-spacing*5;
  }
}

p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $base-spacing / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $base-font-size/1.333;
}

ul, ol {
  margin-left: $base-spacing;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

a {
  color: $text-color;
  text-decoration: none !important;

  &:visited {
    color: $text-color;
  }
}

blockquote {
  color: $text-color;
  border-left: 4px solid $text-color;
  padding-left: $base-spacing / 2;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  border: 1px solid $text-color;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $text-color;
  }
}

/* Document scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
