.rubber-icon {
  overflow: hidden;
}

.menu-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 54px;
  pointer-events: none;
  transition: $anima-speed;
}

.menu-icon-wrapper.scaled{
    transform: scale(0.5);
}

.menu-icon-wrapper svg {
    position: absolute;
    top: -24px;
    left: -24px;
    transform: scale(0.1);
    transform-origin: 0 0;
}

.menu-icon-wrapper svg path{
    stroke: $brand-color;
    stroke-width: 36px;
    stroke-linecap: round;
    fill: none;
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( -0px 40px 35px darken($brand-color, 3%) );
            filter: drop-shadow( -0px 40px 35px darken($brand-color, 3%) );
}

.menu-icon-wrapper .menu-icon-trigger{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.trigger {
  transition: opacity $anima-speed;
}

.trigger:hover a:not(:hover) {
  opacity: 0.2;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }
}
