.lookbook-parent {
  overflow: hidden;
}

.lookbook-child {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lookbook-child::before {
  content: '';
  padding-top: 100%;
  float: left;
  background-color: $brand-color;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.lookbook-child::after {
  content: '';
  display: block;
  clear: both;
}

.lookbook-parent:hover .lookbook-child:before,
.lookbook-parent:focus .lookbook-child:before {
  transition: all .25s;
  opacity: .65;
  // mix-blend-mode: multiply;
}

.lookbook-parent:hover .lookbook-child,
.lookbook-parent:focus .lookbook-child {
  transition: all .25s;
  transform: scale(1.1);
  span {
    display: block;
    font-size: $base-font-size*1.5;
  }
}

.lookbook-child span {
  display: none;
  position: absolute;
  color: whitesmoke;
}
