<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include social-sidebar.html %}
    <wrapper class="d-flex flex-column">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </wrapper>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script src="{{ "/assets/script.js" | relative_url }}"></script>
    <script src="{{ "/assets/segment.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/ease.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/nav-icon.js" | relative_url }}"></script>
  </body>
</html>
